<% content_for :head do %>
  <title> Want - Ranking - monolist</title>
  <meta name="description" content="欲しい(Want)人が多いモノのランキングです．">
<% end %>

<div class="container">
  <div class="container-inner inner-default clearfix">
    <% @items.each_with_index do |item, i| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
              <%= image_tag(item.large_image , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <strong class="ranking"><%= "第#{i+1}位" %></strong>
            <%= item.title %>
          </p>
        </div>
        <%= render 'items/action' , item: item if logged_in? %>
      </div>
    <% end %>
  </div>
</div>
